body {
	font-family: Arial, Helvetica, Sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #152A46;
	color: white;
	padding: 28px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
}

section {
	padding: 20px;
}

@media (min-width: 480px) {
	.grid-main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
}

@media (min-width: 768px) {
	.grid-main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
}

@media (min-width: 2080px) {
	.grid-main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
	}
}